footer {
	height: 250px;
	width: 100%;
	@include center;
	background: #EB3349; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
	color: #fff;
	justify-content: flex-start;
	font-family: "Raleway", sans-serif;
	& h1 {
		position: relative;
		cursor: pointer;
		margin-left: 20px;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background: #fff;
		}
	}
	& h2 {
		cursor: pointer;
		@include center;
		flex-direction: row;
		justify-content: flex-start;
		position: relative;
		opacity: 0.8;
		width: auto;
		margin-left: 20px;
		font-family: "Playfair Display", sans-serif;
		&>img {
			@include center;
			height: 20px;
			width: 20px;
			margin-left: 10px;
			transform: scale(0.8) translateX(-100%);
			opacity: 0;
			transition-duration: 0.2s;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 7%;
			background: #fff;
			transition-duration: 0.2s;
		}
		&:hover::after {
			width: 20%;
		}
		&:hover img {
			transform: scale(1) translateX(0%);
			opacity: 1;
		}
	}
	& h2:first-of-type {
		&>img {
			height: 25px;
			width: 25px;
			margin-left: 10px;
		}
	}
}