.checkout {
	@include center;
	margin-top: 50px;
	@media #{$mq-670} {
		margin-top: 80px;
	}
	&>div {
		@include center;
		flex-direction: column;
		width: 100%;
		margin-bottom: 20px;
		align-items: flex-start;
		@media #{$mq-890} {
			flex-direction: row;
			// justify-content: space-between;
			max-width: 950px;
		}
		&>div {
			@include center;
			flex-direction: column;
			width: 100%;
			max-width: 450px;
			margin-bottom: 30px;
			&>h2 {
				font-size: 2.25em;
				@include backgroundLeft;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 900;
				margin-bottom: 10px;
			}
			&>div {
				@include center;
				flex-direction: row;
				background: #fff;
				border-radius: 5px;
				width: 90%;
				padding: 20px 0;
				@include headerShadow;
				flex-wrap: wrap;
				&>h3 {
					@include backgroundLeft;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-weight: 900;
					margin: 0;
					margin-top: 30px;
					width: 80%;
					text-align: center;
				}
				&>.input {
					@include center;
					flex-direction: column;
					width: 80%;
					position: relative;
					margin-bottom: 7.5px;
					&::after {
						content: "";
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						height: 2px;
						@include backgroundLeft;
					}
					// &::before {
					// 	content: "";
					// 	position: absolute;
					// 	top: 100%;
					// 	left: 50%;
					// 	width: 0%;
					// 	height: 4px;
					// 	@include backgroundLeft;
					// 	transition-duration: 0.4s;
					// }
					&>label {
						width: 95%;
						transform: translateY(27.5px);
						transition-duration: 0.3s;
					}
					&>input {
						width: 100%;
						background: #fff;
						outline: none;
						border: none;
						border-radius: 0;
						padding: 5px;
					}
				}
				&>.state,
				&>.zip {
					width: 45%;
				}
				&>.state {
					margin-right: 5%;
					position: relative;
					&>.autocomp {
						width: 100%;
						background: #fff;
						position: absolute;
						top: 100%;
						left: 0;
						text-align: center;
						border-bottom-right-radius: 5px;
						border-bottom-left-radius: 5px;
						@include headerShadow;
						color: #000;
						&>div {
							width: 100%;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							cursor: pointer;
							padding: 5px 0;
							&:hover {
								@include backgroundLeft;
								color:#fff;
							}
						}
					}
				}
				&>.zip {
					width: 25%;
					margin-left: 5%;
				}
				&>.month,
				&>.year,
				&>.cv {
					width: 23.33333%;
				}
				&>.month {
					margin-right: 2.5%;
				}
				&>.year {
					margin-right: 2.5%;
					margin-left: 2.5%
				}
				&>.cv {
					margin-left: 2.5%
				}
				&>.focus {
					// &::before {
					// 	width: 100%;
					// 	left: 0;
					// }
					&>label {
						color: #828282;
						transform: translateY(0px) scale(0.85) translateX(-25px);
					}
				}
				&>button {
					height: 40px;
					width: 80%;
					@include backgroundLeft;
					outline: none;
					border: none;
					color: #fff;
					@include headerShadow;
					border-radius: 5px;
					margin-top: 20px;
					margin-bottom: 20px;
					transition-duration: 0.4s;
					font-weight: 900;
				}
				&>.button-loads {
					width: 100px;
					height: 100px;
					border-radius: 50%;
					color: transparent;
					background: #EB3349 url('loader.gif') no-repeat center;
					background-size: 60% 60%;
				}
				&>.button-good {
					background: #EB3349 url('check2.svg') no-repeat center;
					background-size: 60% 60%;
					transition-duration: 0.25s;
				}
				&>.checkboxes {
					@include center;
					flex-direction: column;
					width: 80%;
					&>h4 {
						@include backgroundLeft;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-weight: 900;
					}
					&>div {
						@include center;
						flex-direction: row;
						justify-content: space-between;
						width: 200px;
					}
				}
			}
		}
		&>div:first-of-type {
			@media #{$mq-957} {
				margin-right: 2.5%;
			}
		}
		&>div:last-of-type {
			@media #{$mq-957} {
				margin-left: 2.5%;
			}
		}
	}
	&>.congrats {
		width: 90%;
		max-width: 500px;
		background: #fff;
		border-radius: 5px;
		@include headerShadow;
		@include center;
		margin-top: 30px;
		margin-bottom: 30px;
		&>div{
			@include center;
			flex-direction: row;
			flex-wrap: wrap;
			&>h2 {
				margin-bottom: 20px;
			}
			&>p {
				width: 90%;
				margin: 0;
				margin-bottom: 20px;
			}
			&>p:last-of-type{
				margin-bottom: 10px;
			}
			&>div {
				box-shadow: none;
				border-radius: 0;
				@include center;
				flex-direction: column;
				width: 80%;
				position: relative;
				padding: 0;
				height: auto;
				margin-bottom: 30px;
				&::after {
					content: "";
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 2px;
					@include backgroundLeft;
				}
				&>label {
					width: 95%;
					transform: translateY(27.5px);
					transition-duration: 0.3s;
				}
				&>input {
					width: 100%;
					background: #fff;
					outline: none;
					border: none;
					border-radius: 0;
					padding: 5px;
				}
			}
			&>.focus {
				// &::before {
				// 	width: 100%;
				// 	left: 0;
				// }
				&>label {
					color: #828282;
					transform: translateY(0px) scale(0.85) translateX(-25px);
				}
			}
			&>button {
				height: 40px;
				width: 40%;
				@include backgroundLeft;
				outline: none;
				border: none;
				color: #fff;
				@include headerShadow;
				border-radius: 5px;
				margin-top: 20px;
				margin-bottom: 20px;
				transition-duration: 0.4s;
			}
			&>button:first-of-type {
				margin-right: 2.5%;
			}
			&>button:last-of-type {
				margin-left: 2.5%;
			}
		}
	}
	&>.logged-in-checkout{
		@include center;
		&>div {
			@include center;
			&>div {
				@include center;
				flex-direction: row;
				&>p {
					width: 80%;
				}
				&>div {
					width: 80%;
					text-align: center;
				}
				&>button {
					width: 42.5%;
					font-size: 0.9em;
				}
				&>button:first-of-type {
					margin-right: 2.5%;
				}
				&>button:last-of-type {
					margin-left: 2.5%;
				}
			}
		}
	}
}

input[type='checkbox'] {
	-webkit-appearance:none;
    outline: none;
    width:30px;
    height:30px;
    background:#DCDDE2;
    border-radius:5px;
    border: none;
    height: 40px;
	width: 40px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-size: 0%;
	background-position: 50% 50%;
	transition-duration: 0.3s;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	&::after {
    	content: "";
    	position: absolute;
    	top: 0%;
    	left: 0%;
    	height: 100%;
    	width: 100%;
    	background: linear-gradient(to left, #EB3349 , #F45C43);
    	border-radius: 3px;
    	border-radius: 50%;
    	transform: scale(0);
    	transition-duration: 0.3s;
    }
    &::before {
    	content: "";
    	position: absolute;
    	top: 0%;
    	left: 0%;
    	height: 100%;
    	width: 100%;
    	z-index: 2;
    	background: url('cross2.svg') no-repeat center;
    	background-size: 80%;
    	transform: scale(0);
    	transition-duration: 0.1s;
    	transition-delay: 0s;
    }
}

input[type='checkbox']:checked {
    &::after {
    	transform: scale(2);
    }
    &::before {
    	transform: scale(1);
    	transition-delay: 0.1s;
    }
}
