.products {
	@include center;
	flex-direction: column;
	width: 100%;
	padding: 0 0 40px 0;
	font-family: "Raleway", sans-serif;
	@media #{$mq-550} {
		padding-bottom: 80px;
	}
	@media #{$mq-800} {
		padding: 30px 0 80px 0;
	}
	@media #{$mq-957} {
		padding: 30px 0 40px 0;
	}
	&>h2 {
		font-size: 2.5em;
		background: #EB3349; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 900;
	}
	&>.center {
		width: 90%;
		@media #{$mq-550} {
			height: 350px;
			// width: 350px;
			width: 70%;
		}
		@media #{$mq-670} {
			height: 400px;
		}
		@media #{$mq-957}{
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			height: auto;
		}
	}
}
.product {
	cursor: pointer;
	background: #fff;
	@include headerShadow;
	height: 300px;
	width: 100%;
	// box-sizing: border-box;
	margin: 10px;
	@include center;
	flex-direction: column;
	overflow: hidden;
	transition-duration: 0.2s;
	position: relative;
	border-radius: 4px;
	@media #{$mq-550} {
		height: 350px;
		// width: 350px;
	}
	@media #{$mq-670} {
		height: 400px;
	}
	@media #{$mq-957} {
		height: 350px;
		width: 350px;
	}
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	&>.p-img {
		height: 80%;
		@include center;
		flex-direction: column;
		&>img {
			height: 90%;
		}
		&>h3 {
			margin: 0;
			font-weight: 700;
			font-family: "Playfair Display", sans-serif;
		}
	}
	&>.p-buttons {
		height: 20%;
		width: 100%;
		background: #EB3349; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		@include center;
		&>button {
			height: 100%;
			width: 50%;
			border: none;
			outline: none;
			background: #fff;
			overflow:hidden;
			color: #fff;
			font-weight: bold;
			background: transparent;
			position: relative;
			font-weight: 900;
			&::after {
				content: attr(data-text);
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				color: #fff;
				@include center;
				transform: translateY(-100%);
				opacity: 0;
				transition-duration: 0.2s;
			}
			&::before {
				content: attr(data-text);
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				color: #fff;
				@include center;
				transform: translateY(0%);
				transition-duration: 0.2s;
			}
			&:hover::before {
				transform: translateY(100%);
				opacity: 0;
			}
			&:hover::after {
				transform: translateY(0%);
				opacity: 1;
			}
		}
		&>button:first-of-type {
			border-right: 1px solid #fff;
		}
		&>button:last-of-type {
			// border-left: 0.5px solid #fff;
			
        }
        .buy {
			&::after {
				content: url('cartsmall.svg');
			}
		}
	}
}
.price {
	@include center;
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	width: 50px;
	color: #fff;
	border-radius: 2.5px;
	border-top-right-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-weight: 700;
	background: #EB3349; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pc:after {
  content: 'flickity';
  display: none; /* hide :after */
}
@media screen and ( min-width: 957px ) {
  .pc:after {
    content: '';
  }
}
.flickity-page-dots {
  bottom: -20px;
  @media #{$mq-550}{
  	bottom: -50px;
  }
}
/* white circles */
.flickity-page-dots .dot {
  width: 12.5px;
  height: 12.5px;
  opacity: 1;
  background: #fff;
  // background: green;
  border: 2px solid #EB3349;
  @include headerShadow;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  	background: #EB3349; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and ( min-width: 550px ) {
  	.flickity-prev-next-button.previous {
	  	left: -60px;
	}
	.flickity-prev-next-button.next {
	  	right: -60px;
	}
	.flickity-prev-next-button {
		transition-duration: 0.2s;
		@include headerShadow;
	}
	.flickity-prev-next-button:hover {
	  background-color: #F45C43;
	}
}
@media screen and ( min-width: 550px ) {
  	.flickity-prev-next-button.previous {
	  	left: -60px;
	}
	.flickity-prev-next-button.next {
	  	right: -60px;
	}
	.flickity-prev-next-button {
		background-color: #EB3349;
	}
	.flickity-prev-next-button .arrow {
	  fill: #fff;
	}
	.flickity-prev-next-button.no-svg {
	  color: white;
	}
}

#seeAll {
	@include center;
	width: 80%;
	max-width: 500px;
	margin: auto;
	padding: 20px 0 0 0;
	margin-bottom: 60px;
	font-family: "Raleway", sans-serif;
	font-family: "Playfair Display", sans-serif;
	@media #{$mq-670} {
		margin-bottom: 80px;
	}
	&>button {
		@include headerShadow;
		outline: none;
		border: none;
		background: #EB3349; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
		height: 70px;
		width: 100%;
		overflow: hidden;
		position: relative;
		transition-duration: 0.2s;
		font-size: 1.5em;
		font-weight: 900;
		border-radius: 4px;
		@include center;
		&::after {
			content: "See All";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			color: #fff;
			@include center;
			transform: translateY(-100%);
			background: #EB3349; /* fallback for old browsers */
			background: -webkit-linear-gradient(to bottom, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to bottom, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			opacity: 1;
			transition-duration: 0.2s;
		}
		&::before {
			content: "See All";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			color: #fff;
			@include center;
			transform: translateY(0%);
			transition-duration: 0.2s;
		}
		&:hover::before {
			transform: translateY(100%);
			opacity: 0;
		}
		&:hover::after {
			transform: translateY(0%);
			opacity: 1;
		}
		// &:hover {
		// 	// box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		// 	transform: scale(1.02);
		// }
	}
}

.dc {
	position: absolute;
	bottom: 6.75%;
	right: calc(25% - 11.25px);
	background-color: green;
	height: 22.5px;
	width: 22.5px;
	border-radius: 50%;
}

